.h-12rem{
    height: 12rem!important;
}
.masonry-p{
    padding: .2rem!important;
}
.h-24rem{
    height: 24rem!important;
}
.h-23rem{
    height: 24rem!important;
}
.w-20{
    width: 20%;
}
.w-40{
    width: 40%;
}
.w-200{
    width: 200%;
}
.mt-12rem{
    margin-top: 12rem;
}